* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background-image: url("https://thumbs.dreamstime.com/b/hand-holds-scale-hand-holds-scale-human-hand-justice-scales-vintage-engraving-vector-illustration-legale-balance-rights-151659711.jpg");
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100%;
  
}

h1 {
  width: 100%;
  padding-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px #585c66;
  color: #e6d1d1;
  text-align: center;
}

.emo {
  font-size: 70px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  color: #e6d1d1;
}

.maincontainer {
  width: 30%;
  margin: 10px auto;
  padding: 10px 0;
  border: 1px solid #e9e2be;
  background: #262829bd;
  box-shadow: 0 3px 7px 0 #232425;
}

.flex {
  display: flex;
  width: 96%;
  justify-content: space-between;
  margin: 0 auto;
  gap: 1rem;
  padding: 20px;
}

#leftside,
#rightside {
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  border: none;
  box-shadow: 0px 3px 7px 0 #232425;
}

#scale {
  padding: 10px 0;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.balance {
  display: flex;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px 30px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0px 3px 7px 0 #232425;
}

.display {
  text-align: center;
  color: red;
  font-style: italic;
  font-size: 20px;
  padding: 15px;
}

.displaynum {
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding: 15px 0;
}

.class {
  margin: 0 auto;
  width: 90%;
}

@media screen and (max-width: 600px) {
  body {
    background-repeat: no-repeat;
  }
  .maincontainer {
    width: 94vw;
  }

  .flex {
    gap: 1rem;
  }

  h1 {
    width: 100%;
  }
}
